<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <properties>
        <property name="propertyPattern">
            %d{YYYY MMM dd HH:mm:ss.SSS} [%t] %-5level %logger{36}:%L - %msg%n
        </property>
    </properties>
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="${propertyPattern}"/>
        </Console>
        <File name="SingleFile" fileName="/home/andrew/logs/singlefile/log.txt" bufferedIO="true">
            <PatternLayout pattern="${propertyPattern}"/>
        </File>
        <RollingFile name="RollingFile" fileName="/home/andrew/logs/app.log" filePattern="/home/andrew/logs/app-%d{dd-MM-yyyy}-%i.txt">
            <PatternLayout pattern="${propertyPattern}"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="5"/>
                <SizeBasedTriggeringPolicy size="10 KB"/>
            </Policies>
            <DefaultRolloverStrategy max="10"/>
        </RollingFile>
        <Async name="AsyncFile" bufferSize="100" blocking="true" ignoreExceptions="false">
            <AppenderRef ref="SingleFile"/>
            <LinkedTransferQueue/>
            <ThresholdFilter level="warn" onMatch="accept" onMismatch="deny"/>
        </Async>
        <Socket name="Socket" host="127.0.0.1" port="5044">
            <PatternLayout pattern="${propertyPattern}"/>
        </Socket>
    </Appenders>
    <Loggers>
        <Logger name="org.stus.marketplace.controllers.AuthController" level="info" additivity="false"><AppenderRef ref="Console"/><AppenderRef ref="RollingFile"/><AppenderRef ref="Socket"/></Logger>
        <Logger name="org.stus.marketplace.controllers.ItemController" level="info" additivity="false"><AppenderRef ref="Console"/><AppenderRef ref="RollingFile"/><AppenderRef ref="Socket"/></Logger>
        <Logger name="org.stus.marketplace.controllers.ItemOrderController" level="info" additivity="false"><AppenderRef ref="Console"/><AppenderRef ref="RollingFile"/><AppenderRef ref="Socket"/></Logger>
        <Logger name="org.stus.marketplace.controllers.PersonController" level="info" additivity="false"><AppenderRef ref="Console"/><AppenderRef ref="RollingFile"/><AppenderRef ref="Socket"/></Logger>
        <Logger name="org.stus.marketplace.controllers.StoreController" level="info" additivity="false"><AppenderRef ref="Console"/><AppenderRef ref="RollingFile"/><AppenderRef ref="Socket"/></Logger>
        <Logger name="org.stus.marketplace.dto.ItemDTO" level="info" additivity="false"><AppenderRef ref="Console"/><AppenderRef ref="RollingFile"/><AppenderRef ref="Socket"/></Logger>
        <Logger name="org.stus.marketplace.dto.ItemEntryDTO" level="info" additivity="false"><AppenderRef ref="Console"/><AppenderRef ref="RollingFile"/><AppenderRef ref="Socket"/></Logger>
        <Logger name="org.stus.marketplace.dto.ItemOrderDTO" level="info" additivity="false"><AppenderRef ref="Console"/><AppenderRef ref="RollingFile"/><AppenderRef ref="Socket"/></Logger>
        <Logger name="org.stus.marketplace.dto.PersonDTO" level="info" additivity="false"><AppenderRef ref="Console"/><AppenderRef ref="RollingFile"/><AppenderRef ref="Socket"/></Logger>
        <Logger name="org.stus.marketplace.models.Item" level="info" additivity="false"><AppenderRef ref="Console"/><AppenderRef ref="RollingFile"/><AppenderRef ref="Socket"/></Logger>
        <Logger name="org.stus.marketplace.models.ItemEntry" level="info" additivity="false"><AppenderRef ref="Console"/><AppenderRef ref="RollingFile"/><AppenderRef ref="Socket"/></Logger>
        <Logger name="org.stus.marketplace.models.ItemOrder" level="info" additivity="false"><AppenderRef ref="Console"/><AppenderRef ref="RollingFile"/><AppenderRef ref="Socket"/></Logger>
        <Logger name="org.stus.marketplace.models.Person" level="info" additivity="false"><AppenderRef ref="Console"/><AppenderRef ref="RollingFile"/><AppenderRef ref="Socket"/></Logger>
        <Logger name="org.stus.marketplace.security.PersonDetails" level="info" additivity="false"><AppenderRef ref="Console"/><AppenderRef ref="RollingFile"/><AppenderRef ref="Socket"/></Logger>
        <Logger name="org.stus.marketplace.services.ItemEntryService" level="info" additivity="false"><AppenderRef ref="Console"/><AppenderRef ref="RollingFile"/><AppenderRef ref="Socket"/></Logger>
        <Logger name="org.stus.marketplace.services.ItemOrderService" level="info" additivity="false"><AppenderRef ref="Console"/><AppenderRef ref="RollingFile"/><AppenderRef ref="Socket"/></Logger>
        <Logger name="org.stus.marketplace.services.ItemService" level="info" additivity="false"><AppenderRef ref="Console"/><AppenderRef ref="RollingFile"/><AppenderRef ref="Socket"/></Logger>
        <Logger name="org.stus.marketplace.services.PersonDetailsService" level="info" additivity="false"><AppenderRef ref="Console"/><AppenderRef ref="RollingFile"/><AppenderRef ref="Socket"/></Logger>
        <Logger name="org.stus.marketplace.services.PersonService" level="info" additivity="false"><AppenderRef ref="Console"/><AppenderRef ref="RollingFile"/><AppenderRef ref="Socket"/></Logger>
        <Logger name="org.stus.marketplace.services.StoreService" level="info" additivity="false"><AppenderRef ref="Console"/><AppenderRef ref="RollingFile"/><AppenderRef ref="Socket"/></Logger>
        <Logger name="org.stus.marketplace.utils.item_utils.ItemDTOValidator" level="info" additivity="false"><AppenderRef ref="Console"/><AppenderRef ref="RollingFile"/><AppenderRef ref="Socket"/></Logger>
        <Logger name="org.stus.marketplace.utils.item_utils.ItemValidator" level="info" additivity="false"><AppenderRef ref="Console"/><AppenderRef ref="RollingFile"/><AppenderRef ref="Socket"/></Logger>
        <Logger name="org.stus.marketplace.utils.person_utils.PersonDTOValidator" level="info" additivity="false"><AppenderRef ref="Console"/><AppenderRef ref="RollingFile"/><AppenderRef ref="Socket"/></Logger>
        <Logger name="org.stus.marketplace.utils.person_utils.PersonValidator" level="info" additivity="false"><AppenderRef ref="Console"/><AppenderRef ref="RollingFile"/><AppenderRef ref="Socket"/></Logger>
        <Root level="info">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>